<div class="d-flex align-items-center mb-4">
  <div class="form-control-with-icon" style="width: 30%; min-width: 250px" role="search">
    <input type="search" name="filter" class="form-control form-control-filter"
      [placeholder]="'Filter ' + iconSet.displayName + ' icons'" [(ngModel)]="filterTerm"
      (input)="filterIcons($event.target.value)" />
    <div class="form-control-icon">
      <img [src]="assetpath + 'modus-solid/svg/filter.svg'" class="opacity-75" alt height="22" width="22" />
    </div>
  </div>
  <div class="d-flex ms-auto" *ngIf="hasCategories">
    <div class="form-check form-switch me-2 mb-0 mt-1">
      <input type="checkbox" [checked]="showCategories" (change)="showCategories = !showCategories"
        [disabled]="filterTerm !== ''" class="form-check-input" id="Switch1" />
      <label class="form-check-label me-2" for="Switch1">Show categories</label>
    </div>
    <div class="d-flex flex-column">
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" [disabled]="filterTerm !== ''"
          class="btn btn-outline-secondary dropdown-toggle" aria-controls="dropdown-basic">
          Categories
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem" *ngFor="let cat of categoryList">
            <a class="dropdown-item" (click)="selectCategory(cat)" [ngClass]="{ active: selectedCategory === cat }"
              href="javascript: void(0);">{{ cat }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="hasCategories && showCategories && filterTerm === ''">
  <ng-container *ngFor="let cat of iconSetCats">
    <div class="mb-5" *ngIf="cat.name === selectedCategory || selectedCategory === 'All'">
      <h2 class="fw-bold mb-3">
        {{ cat.name === "" ? "No Category" : cat.name }}
      </h2>
      <ul class="row row-cols-2 row-cols-sm-4 row-cols-md-5 row-cols-lg-6 row-cols-xl-8 list-unstyled list">
        <ng-container *ngFor="let icon of cat.icons | filter : filterTerm">
          <li class="col mb-4" [attr.data-tags]="icon.tags.join[',']"
            [attr.data-categories]="icon.categories.join[',']">
            <a class="d-block text-dark text-decoration-none" [href]="'/' + setname + '/' + icon.name + '/'">
              <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                <svg class="modus-icons" fill="currentColor" width="32" height="32">
                  <use [attr.xlink:href]="
                      assetpath +
                      setname +
                      '/sprites/modus-icons.svg#' +
                      icon.name
                    "></use>
                </svg>
              </div>
              <div class="name text-muted text-decoration-none text-center pt-1">
                {{ icon.displayName }}
              </div>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="!hasCategories || !showCategories || filterTerm !== ''">
  <ul class="row row-cols-2 row-cols-sm-4 row-cols-md-5 row-cols-lg-6 row-cols-xl-8 list-unstyled list">
    <ng-container *ngFor="let icon of iconSet.icons | filter : filterTerm">
      <li class="col mb-4" [attr.data-tags]="icon.tags.join[',']" [attr.data-categories]="icon.categories.join[',']">
        <a class="d-block text-dark text-decoration-none" [href]="'/' + setname + '/' + icon.name + '/'">
          <div class="p-3 py-4 mb-2 bg-light text-center rounded">
            <svg class="modus-icons" fill="currentColor" width="32" height="32">
              <use [attr.xlink:href]="
                  assetpath + setname + '/sprites/modus-icons.svg#' + icon.name
                "></use>
            </svg>
          </div>
          <div class="name text-muted text-decoration-none text-center pt-1">
            {{ icon.displayName }}
          </div>
        </a>
      </li>
    </ng-container>
  </ul>
</ng-container>
