# About CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

## File Types

*        @coliff
*.html   @coliff
*.js     @coliff
*.json   @coliff
*.md     @coliff
*.scss   @coliff
*.svg    @coliff @egunther39
*.yml    @coliff

## Folders

/build/  @coliff
