version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: monthly
    ignore:
      - dependency-name: "eslint"
        versions: ["9.x"]
    labels:
      - dependencies
    versioning-strategy: increase
    open-pull-requests-limit: 1
    groups:
    all-dependencies:
      patterns:
        - "*"
      update-types:
        - "minor"
        - "patch"

  - package-ecosystem: npm
    directory: "/app-components/"
    schedule:
      interval: monthly
    labels:
      - dependencies
    versioning-strategy: increase
    open-pull-requests-limit: 1
    groups:
    all-dependencies:
      patterns:
        - "*"
      update-types:
        - "minor"
        - "patch"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 1
    groups:
      github-actions:
        patterns:
          - "*"
