/docs/content/common-outline-old/
/docs/content/common-solid-old/

/svg/common-outline-old/
/svg/common-solid-old/

/node_modules
/_site
/dist
/resources
/temp
/svg/md
/svg/material

.DS_Store
.hugo_build.lock

Thumbs.db
