/node_modules
/_site
/dist
/docs/content
/resources
**/.angular/

.DS_Store
.hugo_build.lock
_site-data.json
app-components/preview/app-components.js
docs/assets/js/app-components.js
Thumbs.db
app-components/src/app/_data/site-data.ts
