.footer {
  background-color: #0e416c;
  content-visibility: auto;
  contain-intrinsic-size: 333px;
  font-size: 14px;
  min-height: 333px;
}

.footer p {
  font-size: 14px;
}

.footer h5,
.footer .h5 {
  color: #fff;
}

.footer a {
  color: #fff !important;
  text-decoration: underline;
}

[data-bs-theme="dark"] footer.footer {
  background-color: #171c1e !important;
}
