.footer {
  background-size: cover;
  background-position: center;
  content-visibility: auto;
  contain-intrinsic-size: 333px;
  font-size: 14px;
  min-height: 333px;
  color: #fff !important;
}

.footer p {
  font-size: 14px;
}

.footer h5,
.footer .h5 {
  color: #fff;
}

.footer a {
  color: #fff !important;
  text-decoration: underline;
}

[data-theme="light"] .footer {
  background-color: #07599b;
}

[data-theme="dark"] footer.footer {
  background-color: #171c1e !important;
}
