header.navbar {
  color: #f1f1f1 !important;
  background-color: #004f83 !important;

  .navbar-nav {
    .nav-link {
      color: #f1f1f1 !important;

      &:hover,
      &:focus {
        color: #f1f1f1 !important;
      }

      &.active {
        color: #f1f1f1 !important;
        border-color: #f1f1f1 !important;
      }
    }
  }
}

.navbar-brand {
  font-size: 15px !important;
}

.navbar-main,
.navbar-brand,
.navbar-main a {
  color: #fff;
  font-weight: 600;
}

.nav-icons {
  border-bottom: 2px solid #fff !important;
}

.dropdown-item {
  min-width: 290px;
  max-width: 320px;
  white-space: inherit !important;
}

.dropdown-item small {
  font-size: 14px !important;
}
