header.navbar {
  color: #f1f1f1 !important;
  background-color: #004f83 !important;

  .navbar-nav {
    .nav-link {
      color: #f1f1f1 !important;

      &:hover,
      &:focus {
        color: #f1f1f1 !important;
      }

      &.active {
        color: #f1f1f1 !important;
        border-color: #f1f1f1 !important;
      }
    }
  }
}

.navbar-brand {
  color: #fff !important;
}

.navbar-brand div {
  margin-top: 0.25rem;
}

.navbar-main a:focus {
  outline-color: #fff !important;
}

.navbar-main,
.navbar-brand,
.navbar-main a:not(.dropdown-menu > div) {
  font-weight: 600;
}

.nav-icons {
  border-bottom: 2px solid #fff !important;
}

[data-bs-theme="dark"] .navbar-main .dropdown-item img {
  filter: invert(1);
}

.navbar-main .btn-icon-only:focus {
  box-shadow: none !important;
  background-color: rgba(37,42,46,.3) !important;
}

.navbar-main .btn-apps {
  color: #fff;
}

[data-bs-theme="light"] .navbar-main .dropdown-menu {
  color: #252a2e !important;
}

.navbar-blue button.btn-icon-only:not(:disabled, .disabled):hover {
  background-color: #217cbb!important;
  border-color: #019aeb!important;
}
