.btn-to-top {
  background-image: url("/modus-outlined/svg/arrow-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(253, 253, 253, 0.5);
  height: 48px;
  width: 44px;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  border-radius: 4px;
  opacity: 0;
  filter: invert(1);
  transform: translateY(100px);
  transition: all 1s ease;
}

.show-btn {
  opacity: 0.7;
  transform: translateY(0);
}

.show-btn:hover {
  opacity: 0.9;
  transition: all 0.1s ease;
}
