.bd-navbar {
  min-height: 26px;
}

@import "../../../node_modules/@trimbleinc/modus-bootstrap/dist/modus";

[data-theme="light"] {
  .bg-light {
    background-color: #f1f1f6;
  }

  .chip-solid {
    background-color: #f1f1f6;
  }
}
