.bd-navbar {
  min-height: 26px;
}

@import "../../../node_modules/@trimbleinc/modus-bootstrap/dist/modus";

[data-theme="light"] {
  .bg-light {
    background-color: #f1f1f6;
  }
  .card-home,
  .card-home div {
    background-color: #f1f1f6 !important;
  }

  .container-hero {
    background-image: url("/img/header.png");
    background-size: cover;
    background-position: right;
  }
}
