[data-bs-theme="dark"] {
  body {
    background-color: #252a2e;
  }

  .bg-light {
    background-color: #171c1e;
  }

  .highlight {
    background-color: #353a40;
  }

  .highlight code {
    filter: brightness(7) saturate(0.5);
  }

  img {
    filter: invert(1);
  }

  .btn-clipboard {
    background-color: #464b52;
    color: #f1f1f6;
  }

  .btn-clipboard:hover {
    color: #fff;
  }

  .cl {
    color: #f1f1f6;
  }

  .list .modus-icons {
    filter: brightness(9.5);
  }

  pre code span span {
    filter: brightness(1.1);
  }

  .input-with-icon-left img,
  .subnav-search img {
    filter: invert(1);
  }

  button[data-toggle="dropdown"] img {
    filter: invert(1);
  }

  .navbar-main .text-muted {
    color: #cbcdd6 !important;
  }

  .form-switch .form-check-input:not(:checked) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

  .dropdown-item.active {
    background-color: #1a4c67 !important;
    border-top: 1px solid #019aeb;
    border-bottom: 1px solid #019aeb;
  }

  .dropdown-item:hover:not(:active) {
    background-color: #464b52 !important;
  }

  main .navbar-brand img {
    filter: none;
  }
}
