.text-underline {
  text-decoration: underline !important;
}

.pe-none {
  pointer-events: none !important;
}

.opacity-75 {
  opacity: 0.75 !important;
}

.py-6 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.filter-invert {
  filter: invert(1) !important;
}
