@import "../../../node_modules/@trimble-oss/modus-bootstrap/dist/css/modus-bootstrap";
@import "variables";
@import "clipboard-js";
@import "home";
@import "scroll-to-top-btn";
@import "syntax";
@import "theme-dark";
@import "theme-light";
@import "theme-toggle";
@import "navbar";
@import "skippy";
@import "footer";
@import "utilities";

.modus-icon,
.mi {
  display: inline-block !important;
  vertical-align: -0.125em !important;
}

.chip-sm {
  font-size: 0.75rem;
}

.highlight {
  margin-bottom: 1.5rem;
  background-color: rgba(111, 111, 111, 0.1);
  border-radius: 0.25rem;

  pre {
    margin-bottom: 0;
    padding: 1.25rem;

    code {
      word-wrap: normal;
    }
  }
}

.bd-example {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem;

  + .bd-clipboard + .highlight pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.icon-search {
  @media (min-width: 768px) {
    width: 35%;
  }
}

.list {
  font-size: 2rem;
  min-height: 248px;

  &:empty::before {
    background-color: rgba(111, 111, 111, 0.1);
    border-radius: 0.5rem;
    color: $gray-500;
    content: "Nothing found, try searching again.";
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    padding: 100px 2rem;
    text-align: center;
    width: 100%;
  }
}

.btn-group > .btn {
  flex-shrink: 0 !important;
}

.name {
  font-size: 0.8125rem;
}

@media (min-width: 1200px) {
  .row-cols-xl-8 {
    > * {
      flex: 0 0 12.5% !important;
      max-width: 12.5% !important;
    }
  }
}

.icon-demo {
  background-color: rgba(99, 99, 99, 0.02);
  background-image: radial-gradient(
    circle,
    rgba(131, 131, 131, 0.3) 1px,
    rgba(0, 0, 0, 0) 1px
  );
  background-size: 1rem 1rem;
  font-size: 10em;
  min-height: 274px;
}

<<<<<<< HEAD
@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

||||||| 2c81082a
=======
@media (min-width: 1200px) {
  .container {
    max-width: 1220px !important;
  }
}

>>>>>>> 2e6d4c405401067798dcd2cd189f7a622b587aae
.icon-demo svg {
  height: 128px !important;
  width: 128px !important;
}

.icon-demo,
.icon-demo-examples {
  .modus-icon,
  .mi {
    height: 16px;
    width: 16px;
  }
}

body a > .bg-light:hover {
  background-color: rgba(99, 99, 99, 0.1) !important;
}

main {
  min-height: calc(100vh - 400px);
}

.icon-set-list {
  min-height: 300px;
}

@media (min-width: 1200px) {
  .display-3 {
    font-size: 1.8rem !important;
  }
}

.dropdown-menu-categories {
  max-width: 200px;
}

.custom-switch .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.popover-header {
  background-color: transparent !important;
  border-bottom: 0 !important;
  font-size: 0.875rem !important;
  font-weight: normal !important;
}

.popover-body {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
}

nav.navbar button.btn-icon-only {
  padding: 11px 8px !important;
}

nav.navbar button i {
  font-size: 2rem !important;
  line-height: 0.8 !important;
  top: 0 !important;
}

.navbar-blue .btn-icon-only:hover {
  background-color: #217cbb;
  border-color: #019aeb;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
  filter: grayscale(1);
 }

.btn:focus-visible {
  outline: auto;
}

[data-bs-theme="dark"] .chip-outline:not(.error):hover,
[data-bs-theme="dark"] .chip-outline:not(.error).hover {
  background-color: #cbcdd61f !important;
}

[data-bs-theme="dark"] .chip-outline:not(:disabled):not(.disabled):not(.error):active,
[data-bs-theme="dark"] .chip-outline:not(:disabled):not(.disabled):not(.error).active {
  background-color: rgba(0,79,131,.5) !important;
}

[data-bs-theme="dark"] .btn-primary:not(:disabled):not(.disabled):hover {
  background-color: #217cbb !important;
  border-color: #217cbb !important;
}

[data-bs-theme="dark"] .btn-primary:not(:disabled):not(.disabled):active,
[data-bs-theme="dark"] .btn-primary:not(:disabled):not(.disabled).active {
  background-color: #004f83 !important;
  border-color: #004f83 !important;
}

[data-bs-theme="dark"] .text-primary {
  color: #0063a3 !important;
}
