<div class="position-relative d-none d-md-block">
  <div class="form-control-with-icon mt-2" role="search">
    <input class="form-control form-control-search" placeholder="Search all Modus Icons" type="search" autocomplete="off"
      [(ngModel)]="searchString" (input)="search()" />
    <div class="form-control-icon">
      <img [src]="assetpath + 'modus-solid/svg/search.svg'" class="opacity-75" alt height="22" width="22" />
    </div>
  </div>
  <div class="list-group list-group-search-results list-group-borderless bg-white position-absolute shadow justify-content-start w-100">
    <ng-container *ngIf="searchResults.length === 0 && searchString.length > 1">
      <div class="list-group-item justify-content-center">
        <h5 class="mb-0 text-gray-4">
          No icons found. Try a different search.
        </h5>
      </div>
    </ng-container>
    <ng-container *ngIf="searchResults.length > 0">
      <a class="list-group-item text-decoration-none d-flex align-items-center"
        *ngFor="let item of searchResults" [href]="basehref + '/' + item.setName + '/' + item.name + '/'">
        <svg class="modus-icons me-2" fill="currentColor" width="24" height="24">
          <use [attr.xlink:href]="
              assetpath + item.setName + '/sprites/modus-icons.svg#' + item.name
            "></use>
        </svg>
        <h5 class="me-2 mb-0 small">{{ item.displayName }}</h5>
        <label class="d-none d-lg-block mb-0 me-4 fw-normal small opacity-50">{{ item.tags }}</label>
        <label class="mb-0 ms-auto text-secondary opacity-75 small">{{
          item.setDisplayName
        }}</label>
      </a>
    </ng-container>
  </div>
</div>
