// @import "../node_modules/@angular/cdk/_overlay";

.cdk-overlay-container {
  pointer-events: none;
  position: absolute;
  // top: 0;
  // left: 0;
  // height: 100%;
  // width: 100%;
  z-index: 1000;
}
