.text-underline {
  text-decoration: underline !important;
}

.pe-none {
  pointer-events: none !important;
}

.cursor-default {
  cursor: default !important;
}

.py-6 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
