name: Publish package to npmjs

on:
  release:
    types:
      - published
  workflow_dispatch:

env:
  FORCE_COLOR: 2
  NODE: 20

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.repository == 'trimble-oss/modus-icons'

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "${{ env.NODE }}"
          registry-url: "https://registry.npmjs.org"

      - run: npm ci

      - name: Install Angular setup
        run: npm run install:components

      - name: Build the icons
        run: npm run build

      - name: Build the site
        run: npm run docs:build

      - name: Run tests
        run: npm test

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Set GitHub Registry Auth Token
        run: npm set //npm.pkg.github.com/:_authToken ${{ secrets.GITHUB_TOKEN }}

      - name: Publish npm Package to GitHub Registry
        run: npm publish --access public --ignore-scripts --@trimble-oss:registry='https://npm.pkg.github.com'
