name: Review reminders

on:
  schedule:
    - cron: "0 9 * * *"

jobs:
  deploy:
    name: Review reminders
    if: github.repository == 'trimble-oss/modus-icons'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - uses: blombard/review-reminder@e4bb52f8df46e4b9c752451bbd01a412c4502ed9 # master
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          reminder-comment: "Don't forget to review this PR !"
          days-before-reminder: "5"
